*{
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    }
    
    body{
    font-family: "Poppins", sans-serif;
    }
    
    header{
    background-color: #09a3fc;
    color: rgb(255, 0, 0);
    width: 100%;
    padding: 80px;
    
    }
    .cabecalho-itens{
    max-width: 2050px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
    }
    
    .cabecalho_imagem{
    width: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    }
    .titulo_site{
    padding: 500px;
    text-align: center;
    width: 50%;
    font: 100px;
    }
    .sociais{
    display: flex;
    justify-content: flex-end;
    width: 25%;
    padding-right: 45px;
    }
    .banner1{
    display: flex;
    justify-content: center;
    }
    
    .estudante-titulo{
    padding: 75px;
    text-align: center;
    }
    
    .estudante-nome{
    text-align: center;
    }
    .estudante-imagem{
    width: 135px;
    }
    
    .estudante-icone{
    width: 44px;
    padding: 4px 8px;
    }
    
    .estudante{
    background-image: background-color(#ffffff);
    padding: 32px 0;
    }
    
    .estudante.div{
    text-align: center;
    padding: 28px 0;
    }
    .estudantes_todos{
    display: flex;
    justify-content: space-around;
    }
    
    .escola{
    background-image: linear-gradient(#40A2E3,#7FC2EF);
    color: rgb(253, 0, 0);
    display: flex;
    justify-content:center;
    padding: 28px 0;
    text-align:center;
    display:block;
    
    }
    .escola-titulo{
    padding: 90px;
    text-align: center;
    }
    
    .logo_rodape{
    height: 20px;
    padding: 12px 0;
    width: 50%;
    
    
    }
    .link{
    color: #ffffff;
    text-decoration: none;
    }